<div class="container">
<div class="jumbotron">
 <h1>Welcome To Blocipedia!</h1>
 <p>Get Your Technical Wikis Here</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>header here</h2>
    <p>information here</p>
  </div>
  <div class="col-md-4">
    <h2>header here</h2>
    <p>information here</p>
  </div>
  <div class="col-md-4">
    <h2>header here</h2>
    <p>information here</p>
  </div>
</div>
</div>
