<div class="container-fluid">
<div class="row">
 <div class="jumbotron">
  <h1>This is Blocipedia!</h1>
  <p>Get Your Technical Wikis On Here</p>
 </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Share something technical you know.</h2>
    <p>information here</p>
  </div>
  <div class="col-md-4">
    <h2>Collaborate Privately With Other Experts</h2>
    <p>information here</p>
  </div>
  <div class="col-md-4">
    <h2>Additional Information Here</h2>
    <p>Blah, blah, blah.</p>
  </div>
</div>
</div>
